* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

.body {
    width: 100vw;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*width: 1000px;*/
    /*height: 250px;*/
    padding: 750px;
    border: 1px solid black;
}

.first {
    padding: 40px;
    font-size: 25px;
    border: 1px solid black;
}

.sec {
    padding: 40px;
    font-size: 25px;
    border: 1px solid black;
    flex-grow: 1;
}